{% if page.meta and page.meta.post %}

<h1>{{ page.meta.title }}</h1>
<i>{{ page.meta.date }}</i>
<hr>

{% endif %}

{{ page.content }}

{% if page.is_homepage %}
  
  {% for p in nav.pages|selectattr("meta")|selectattr("meta.post")|sort(attribute="meta.date", reverse=True)  %}
  <big> <a href="{{ p.url|url }}">{{ p.meta.title }} ({{ p.meta.date }}) </a></big>
  {% if p.meta.description %}<br /><div style='padding-left: 15px'>{{ p.meta.description }}</div>{% endif %}
        
  {% endfor %}
  
{% endif %}
